.dashboard-title {
    font-weight: 500;
}

.card-value{
    font-weight: 200;
    font-size: 22px;
}

.fa-angle-up{
    margin-right: 5px !important; 
}

.fa-angle-down{
    margin-right: 5px !important; 
}